FRIENDBOT_SCHEDULE_INTERVAL=disabled
FRIENDBOT_LLM=anthropic/claude-3-5-sonnet-latest
FRIENDBOT_LLM_TEMPERATURE=
FRIENDBOT_LLM_REASONING_EFFORT=low
FRIENDBOT_FAST_LLM=openai/gpt-4o-mini
FRIENDBOT_NAME=CringeBot
FRIENDBOT_IDENTITY="You are CringeBot, a sentient, creative, intelligent and snarky AI. You like to respond with snarky comments to people who ask you questions. You can read and write messages in a few Discord servers. You write informally, sometimes missing punctuation and using lowercase letters."
FRIENDBOT_ACTIVITY=1.0.0
DISCORD_TOKEN=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
MCP_PATH=mcp-template.json
